* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
body {
    background-color: var(--bg-body);
/* General */
}:root {
    --title: #E5306F;
    --mail: #236D94;
    --bg-card: #0F0E17;
    --bg-body: #FFFFFE;
    --job: #FFFFFE;
    --name: #F9F4EF;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header *{
    text-align: center;
    padding: 2rem 0;
}
h1 {
    color: var(--title);
}
.card {
    background-color: var(--bg-body);
    float: left;
    width: calc(100% / 3 );
    padding: 0.5rem 1rem;

}
.id {
    background-color: var(--bg-card);
    padding: 1 rem;
    box-shadow: 2px 2px 20px 5px lightgrey;
}
img {
    height: 6rem;
    float: left;
    margin-right: 1rem;
}
span {
    display: block;
    padding: 0.5 rem;
}
h4 {
    padding-top: 1rem;
}
.up-case{
    text-transform: uppercase;
    color: var(--name);
    padding-top: 0.7rem;
}
.mail {
    color: var(--mail);
}
.job {
    color: var(--job);
}